# IDE
.idea/
.vscode/

# Python
.venv/
__pycache__/

# .NET Core
obj/
bin/

# D2_ETL.Data Project
D2_ETL.Data/assets/
D2_ETL.Data/json/
D2_ETL.Data/data/
D2_ETL.Data/conf.json

# D2_ETL.Client.ManifestApi
D2_ETL.Client.ManifestApi/manifest.json